<div class="container" style="max-width: 50%;">
  <h1 class="text-center" style=" position: relative; top: -140px; color: white; text-shadow: 0 0 10px
    rgba(0, 0, 0, 0.5); font-size: 3rem; line-height: 1.5;">修改餐廳資訊 --<br> {{ restaurant.name }}</h1>

  <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">

    <div class="form-group mb-4">
      <label for="name_en">餐廳英文名稱：</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳英文名稱" name="name_en" value="{{ restaurant.name_en }}"
        id="name_en">
    </div>
    <div class="form-group mb-4">
      <label for="category">餐點類型：</label>
      <select class="form-control" name="category" id="category">
        <option selected value="">-- 請選擇餐點類型 --</option>
        <option value="中東料理">中東料理</option>
        <option value="日本料理">日本料理</option>
        <option value="義式料理">義式料理</option>
        <option value="美式料理">美式料理</option>
        <option value="咖啡廳">咖啡廳</option>
        <option value="酒吧">酒吧</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label for="image">餐廳圖片網址：</label>
      <input type="url" class="form-control" placeholder="請貼上餐廳圖片網址" name="image" value="{{ restaurant.image }}"
        id="image">
    </div>
    <div class="form-group mb-4">
      <label for="location">地址：</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳地址" name="location" value="{{ restaurant.location }}"
        id="location">
    </div>
    <div class="form-group mb-4">
      <label for="phone">電話：</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳電話" name="phone" value="{{ restaurant.phone }}"
        id="phone">
    </div>
    <div class="form-group mb-4">
      <label for="google_map">google地圖：</label>
      <input type="url" class="form-control" placeholder="請貼上google地圖網址" name="google_map"
        value="{{ restaurant.google_map }}" id="google_map">
    </div>
    <div class="form-group mb-4">
      <label for="rating">餐廳評分：<small>（0.0 ~ 5.0分）</small></label>
      <input type="number" class="form-control" placeholder="請輸入餐廳評分" min="1.0" max="5.0" step="0.1" name="rating"
        value="{{ restaurant.rating }}" id="rating">
    </div>
    <div class="form-group">
      <label for="description">餐廳描述：</label>
      <textarea class="form-control" rows="3" name="description"
        id="description">{{ restaurant.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-dark">Save</button>
  </form>
</div>